<!DOCTYPE html>
<html lang="en">
<head>
    <title th:text="#{label.badUser.title}">bad user</title>
</head>
<body>
<h1 th:text="${param.message[0]}">error</h1>
<br>
<a th:href="@{/user/registration}" th:text="#{label.form.loginSignUp}">signup</a>

<div th:if="${param.expired[0]}">
    <h1 th:text="#{label.form.resendRegistrationToken}">resend</h1>
    <button onclick="resendToken()" th:text="#{label.form.resendRegistrationToken}">resend</button>

    <script src="jquery.min.js"></script>
    <script type="text/javascript">

        const serverContext = [[@{/}]];

            function resendToken() {
                $.get(`${serverContext}user/resendRegistrationToken?token= ${token}`,
                    function (data) {
                        window.location.href = `${serverContext}login.html?message=${data.message}`
                    })
                    .fail(function (data) {
                        if (data.responseJSON.error.indexOf("MailError") > -1) {
                            window.location.href = `${serverContext}emailError.html`
                        } else {
                            window.location.href = `${serverContext}login.html?message=${data.responseJSON.message}`
                        }
                    })
            }
    </script>
</div>
</body>
</html>