<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.form.title}">form</title>
</head>
<body>
<form action="/" method="POST" enctype="utf8">
    <input name="firstName" value=""/>
    <span id="firstNameError" style="display:none"></span>

    <input name="lastName" value=""/>
    <span id="lastNameError" style="display:none"></span>

    <input name="email" value=""/>
    <span id="emailError" style="display:none"></span>

    <input name="password" value="" type="password"/>
    <span id="passwordError" style="display:none"></span>

    <input name="matchingPassword" value="" type="password"/>
    <span id="globalError" style="display:none"></span>

    <a href="#" onclick="register()" th:text="#{label.form.submit}">submit</a>
</form>


<script src="jquery.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    // var serverContext = [[@{/}]];

        $(document).ready(function () {
            $('form').submit(function (event) {
                register(event);
            });

            $(":password").keyup(function () {
                if ($("#password").val() !== $("#matchPassword").val()) {
                    $("#globalError").show().html('<spring:message code="error.passwordMatches"/>');
                } else {
                    $("#globalError").html("").hide();
                }
            });

            options = {
                common: {minChar: 8},
                ui: {
                    showVerdictsInsideProgressBar: true,
                    showErrors: true,
                    errorMessages: {
                        wordLength: '<spring:message code="error.wordLength"/>',
                        wordNotEmail: '<spring:message code="error.wordNotEmail"/>',
                        wordSequences: '<spring:message code="error.wordSequences"/>',
                        wordLowercase: '<spring:message code="error.wordLowercase"/>',
                        wordUppercase: '<spring:message code="error.wordUppercase"/>',
                        wordOneNumber: '<spring:message code="error.wordOneNumber"/>',
                        wordOneSpecialChar: '<spring:message code="error.wordOneSpecialChar"/>'
                    }
                }
            };
            $('#password').pwstrength(options);
        });

    function register(event) {
        event.preventDefault();
        $(".alert").html("").hide();
        $(".error-list").html("");
        if ($("#password").val() !== $("#matchPassword").val()) {
            $("#globalError").show().html('<spring:message code="error.passwordMatches"/>');
            return;
        }
        var formData = $('form').serialize();
        $.post(serverContext + "user/registration", formData, function (data) {
            if (data.message === "success") {
                window.location.href = serverContext + "successRegister.html";
            }

        })
            .fail(function (data) {
                if (data.responseJSON.error.indexOf("MailError") > -1) {
                    window.location.href = serverContext + "emailError.html";
                } else if (data.responseJSON.error === "UserAlreadyExist") {
                    $("#emailError").show().html(data.responseJSON.message);
                } else if (data.responseJSON.error.indexOf("InternalError") > -1) {
                    window.location.href = serverContext + "login?message=" + data.responseJSON.message;
                } else {
                    var errors = $.parseJSON(data.responseJSON.message);
                    $.each(errors, function (index, item) {
                        $("#" + item.field + "Error").show().html(item.defaultMessage);
                    });
                    errors = $.parseJSON(data.responseJSON.error);
                    $.each(errors, function (index, item) {
                        $("#globalError").show().append(item.defaultMessage + "<br/>");
                    });
                }
            });
    }
    /*]]>*/
</script>
</body>
</html>